@model List<EventShow.Models.Eventinfoindex>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}


<main>

    <div class="container-fluid d-flex justify-content-center " style="padding-top:3em">


        <div class="card w-100 ">

            <div class="card-header">

                <div class="d-flex" style="justify-content:space-between">

                    <div style="font-size:xx-large">
                        Event List
                    </div>

                    <a class="btn" style="color: white; background-color: #0b51b0; margin-bottom: 0.27em" href="@Url.Action("Add", "Event", new { })">
                        Add New
                    </a>
                   
                </div>

            </div>

            <div class="card-body" style="overflow:auto">

                @{ int no = 1; }
                <table id="example" class="display" style="overflow:auto">
                    <thead>

                        <tr>
                            <th>No</th>

                            <th scope="col">
                                Event Name
                            </th>

                            <th scope="col">
                                Event Location
                            </th>

                            <th scope="col">
                                Event Date
                            </th>
                            <th scope="col">
                                Action
                            </th>
      
                        </tr>

                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@no</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventName)
                                    @Html.HiddenFor(modelItem => item.EventId)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.EventLocation)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>

                                

                                <td>
                                   

                                    <a class="btn btn-outline-primary" href="@Url.Action("Detail", "Event", new { id = @item.EventId})">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        
                                    </a>

                                    <a class="btn btn-outline-success" href="@Url.Action("Edit", "Event", new { id = @item.EventId})">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                       
                                    </a>
                                    <a class="btn btn-outline-danger" href="@Url.Action("Delete", "Event", new { id = @item.EventId})">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        
                                    </a>
                                </td>


                            </tr>

                            { no = no + 1; }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>

@section Scripts{
    <script>$(document).ready(function () {
        $('#example').DataTable();
    });</script> }



